<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criar nova senha</title>
  <link rel="stylesheet" href="css/redefinir-senha.css">
</head>

<body>
  <div class="container">
    <h1 class="titulo-principal">QUIZ</h1>
    <h3 class="subtitulo">Criar nova senha</h3>

    <form id="form-redefinir">
      <label for="nova-senha">Criar nova senha</label>
      <input type="password" id="nova-senha" placeholder="Digite a nova senha" required>

      <label for="confirmar-senha">Confirmar nova senha</label>
      <input type="password" id="confirmar-senha" placeholder="Confirme a nova senha" required>

      <button type="submit">REDEFINIR SENHA</button>
    </form>

    <a href="login.html" class="voltar-login">Voltar para o login</a>
  </div>

  <script>

    const form = document.getElementById('form-redefinir');
    const token = new URLSearchParams(window.location.search).get("t");

    if (!token) window.location.href = "/"

    form.addEventListener("submit", async e => {
      e.preventDefault();

      const senha = document.getElementById('nova-senha').value;
      const confirmar = document.getElementById('confirmar-senha').value;

      if (!senha === confirmar) {
        alert('As senhas não coincidem.');
        return
      }

      console.log(senha)
      console.log(confirmar)

      try {
        const response = await fetch("/api/redefinir-senha/" + token, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            senha
          })
        });

        if (response.ok) {
          alert("seu senha foi atualizada");
          window.location.href = "/login"
        } else {
          alert("senha invalida");
        }
      } catch (erro) {
        alert("Erro na requisição");
      }

      e.target.reset();
    });

  </script>
</body>

</html>